#start_page{
    border: 3px solid blue;
    height: 500px;
    width: 500px;
    text-align: center;
    position: relative;
}
            
#game_page{
    border: 3px solid orange;
    height: 650px;
    width: 400px;
    clear: both;
    display: none;
}

#timer{
    padding-top: 15px;
    float: left;
    width: 33.33333%;
    text-align:left;
}

.pause{
    float: left;
    width: 400px;
    text-align: center;
    position: fixed;
    z-index: 2;
}

#canvas2{
    width:400px;
    height:600px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    left: 0px;
    margin-top: 50px;
}

#canvas{
    width:400px;
    height:600px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    left: 0px;
    margin-top: 50px;
}

#canvasesdiv{
    position:relative; 
    width: 400px; 
    height: 600px;
}

#line_separator{
    position: absolute;
    width: 400px;
    border-bottom: 2px solid black;
    height: 1px; 
    margin-top: 50px;
    margin-bottom: 5px;
}

#score{
    text-align: right;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    float: right;
    width: 33.3333333%;
    padding-top: 14px;
}